@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;1,300&display=swap');

.statusBar {
    /* THE COLOUR FOR THE BAR */
    box-sizing: border-box;
}


.statusBar-body {
    background-color: #ffffff;
    font-family: "Mullish", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    z-index: -5;
    
}

.statusBar-h1 {
    color: #212121;
    margin-bottom: 30px;

}

.fa-seedling{
    font-size: 1.8rem;
    color: #65db65;
}

.fa-walking{
    font-size: 1.8rem;
    color: #facf10;
}

.fa-burn{
    font-size: 1.6rem;
    color: #ee6868;
}

.fa-heartbeat{
    font-size: 1.8rem;
    color: #e27ed5;
}

.statusBar-container{
    text-align: center;
}

.statusBar-progress-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
    z-index: 0;
}


.statusBar-progress-container::before{
    content: "";
    background-color: #bdbdbd;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height:4px;
    width: 100%;
    transition:0.4s ease;
}

.statusBar-progress {
    background-color: #7787e6;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    transition:0.4s ease;
}

.statusBar-circle{
    background-color: #ffffff;
    color: #999;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 3px solid #b2bec3;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
    z-index: 1;
}

.statusBar-circle.active{
    border-color: #7787e6
}

.statusBar-btn{
    background-color: #7787e6;
    color: #ffffff;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.statusBar-btn:focus{
    outline:0;
}

.statusBar-btn:active{
    transform:scale(0.97);
}

.statusBar-btn:disabled{
    background-color: #ffffff;
    cursor: not-allowed;
}


